/* ====================================
   Content styling
==================================== */

.gif {
    @include margin( 0 ( $gutter / 2 ) $gutter );
    background: $c-accent--l;
    position: relative;
    z-index: 1;
    box-shadow: 0 1px 3px $c-accent--d;
    transition: all $easing;

    figcaption {
        @include size(100%);
        background-color: transparent;
        color: darken($c-accent--d, 20%);
        transition: all $easing--fast;

        >.title {
            @include ellipsis;
            width: 100%;
            background-color: transparent;
            color: inherit;
            display: inline-block;
            font-weight: bold;
            vertical-align: middle;
            padding: 10px;
        }

        >.cat {
            @include position( absolute, 0 0 null null );
            font-weight: 300;
            opacity: .6;
            padding: 5px $gutter;
            color: $white;
            text-shadow: 0 1px 0 rgba($black, .5);
        }
    }

    >img {
        display: block;
        width: 100%;
    }

    &-item {
        margin: 0; padding: 0;
        display: block;
        float: left;
        width: 100%;

        @include bp-small  { width: 100%; }
        @include bp-medium { width: (100% / 3 ); }
        @include bp-huge   { width: (100% / 4 ); }

    }

    &__container {
        @include clearfix;
        @include container;
        padding-top: $spacing-large;
        max-width: 100%;
    }

    &__no-results {
        text-align: center;
        margin-bottom: $spacing-large;
        display: none;

        >span {
            display: block;
            padding: $gutter;
            font-weight: bold;
            color: $c-warning;
            font-size: 1.5em;
            border-radius: 3px;
        }

        code {
            background: $c-warning;
            color: $white;
            padding: 10px;
            display: inline-block;
            margin: 0 auto;
        }

        .has-no-results & { display: block; animation: noresults $easing; }
    }



    &.image-not-loaded {
        img {
            height: 0;
            padding-bottom: 100%;
            background: $c-accent--d;
            position: relative;
        }

        figcaption {
            height: 0;
            overflow: hidden;
        }

        .spinner {
            display: block;
        }
    }

    &.image-is-loaded {



    }
}


.search {
    position: sticky;
    top: 0;
    z-index: 10;

    &-form {
        @include clearfix;
        position: relative;
        padding: $gutter;
        background: $c-accent--l;
        border-bottom: 1px solid $c-accent;

        input,select {
            font-size: 2em;
            min-width: 100%;
        }

        &__input {
            max-width: 600px;
            margin: 0 auto;
            position: relative;
        }

        &.has-no-results input {
            border-color: red;
        }
    }

    &-results {
        @include position( absolute, $gutter 0 null null );
        font-size: 1.5em;
        font-weight: bold;
        color: $c-sec;
        vertical-align: center;
        pointer-events: none;

        @include bp-small {
            top: 50%;
            transform: translateY(-50%);
            font-size: 40px;
        }

        >.current {
            @include transition( opacity $easing );
            &:after {
                font-size: .5em;
                content:'/';
                display: inline-block;
                font-weight: normal;
                vertical-align: 25%;
                opacity: .5;
                margin: 0 2px;
            }
        }
        >.total {
            font-size: .5em;
            position: relative;
            left: -.5em;
            opacity: .5;
            vertical-align: 24%;
        }


        .no-input & .current {
            opacity: 0;
        }
    }
}

.spinner {
    @include position( absolute, 50% null null 50% );
    @include size(100px);
    transform: translate3d(-50%,-50%,0);
    z-index: 2;
    height: 100px;
    display: none;

    &:after,
    &:before {
        @include size(100%);
        position: absolute;
        top: 0;
        margin: 0 auto;
        content: '';
        display: block;
        border: 10px solid transparent;
        @include border-color( white white null );
        border-radius: 50%;
        animation: spinner 300ms infinite linear;
    }
    &:before {
        @include margin(20%);
        @include size(60%);
        @include border-color( white $c-accent--d );
        animation-direction: reverse;
        animation-duration: 500ms;
    }
}
