/* ====================================
   Content styling
==================================== */

.gif {
    @include margin( 0 ( $gutter / 2 ) $gutter );
    background: $c-accent--l;
    position: relative;
    box-shadow: 0 1px 3px $c-accent--d;

    figcaption {
        @include size(100%);
        background-color: transparent;
        color: darken($c-accent--d, 20%);

        >.title {
            @include ellipsis;
            padding: 10px;
            width: 100%;
            background-color: transparent;
            color: inherit;
            display: inline-block;
            font-weight: bold;
            vertical-align: middle;
        }
        >.cat {
            @include position( absolute, 0 0 null null );
            font-weight: 300;
            opacity: .6;
            padding: 5px $gutter;
            color: $white;
        }
    }

    >img {
        display: block;
        width: 100%;
    }

    &-item {
        margin: 0; padding: 0;
        display: block;
        float: left;
        width: 100%;

        @include bp-small { width: (100% / 2 ); }
        @include bp-medium { width: (100% / 3 ); }

        &__container {
            @include clearfix;
        }
    }

    &__container {
        @include clearfix;
        @include container;
        padding-top: $gutter;
    }
}
