/* ====================================
   Header styling
==================================== */

.main-header {
    @include padding( $spacing-large $gutter );
}

.site-title {
    text-align: center;
}

.site-tagline {
    text-align: center;
    color: lighten($c-sec, 30%);
    font-style: italic;
}
