/* ====================================
   Header styling
==================================== */

.main-header {
    @include linear-gradient(top, rgba($c-accent--d,1), rgba($c-accent--d,0));
    @include padding( $spacing-medium $gutter );
    background-color: transparent;

    p {
        margin: 0;
    }
}

.site-title {
    text-align: center;
    margin-bottom: 0;

    #icon-link {
        @include size(1.5em);
        padding: 10px;
        border-radius: 50%;
        fill: $white;
        background: $c-link;
        vertical-align: -28%;
    }


    & a:hover #icon-link {
        background: $c-link--hover;
    }
}

.site-tagline {
    text-align: center;
    color: lighten($c-sec, 30%);
    font-style: italic;
}
