extends layouts/default.jade
        
block content
    
    div( ui-view="overlay" )
        
    main.gifs(ng-class="{'no-input': !query }")
        include partials/search.form.jade
        
        section.gif__container(
            class='results-{{ filtered.length }}',
            ng-class="{'has-no-results': filtered.length == 0}"
        )
            include partials/search.noresults.jade
            gifblock( ng-repeat="gif in filtered = (gifs | filter:queryResults | orderBy:'rank' | limitTo:12 )" )
