doctype html
html.no-js
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
        title GIF
        link(rel='shortcut icon', type='image/x-icon', href='/assets/media/favicon.ico')
        link(href='https://fonts.googleapis.com/css?family=Titillium+Web:400,700', rel='stylesheet', type='text/css')
        link(rel='stylesheet', href='/assets/css/global.css')
    body(ng-app='searchApp')
        block content
    
        script(src='/assets/js/global.js')
