{%raw%}

<section class="gifs" ng-app="MyApp">

    <div ng-controller="Search">

        <form id="Search" class="search-form" ng-class="{'is-no-results': filtered.length == '0'}">
            <input ng-model="query" type="text" placeholder="Search Gif" autofocus>
            <div class="search-results">
                <span class="current">{{filtered.length}}</span>
                <span class="total">{{gifs.length}}</span>
            </div>
        </form>

        <div class="gif__container">
            <ul masonry preserve-order>

                <li
                    class="gif-item masonry-brick {{gif.class}}"
                    ng-repeat="gif in filtered = (gifs | filter:queryResults | orderBy:'rank' | limitTo:15 )"
                    ng-hide="!gif.title"
                >
                    <a href="{{gif.image}}">
                        <figure class="gif">
                            <img src="{{gif.image}}" alt="{{gif.title}}">
                            <figcaption>
                                <span class="title">
                                    {%endraw%}{% include svg.html id="link" viewbox="37 20" %}{%raw%}
                                    {{gif.title}}
                                </span>
                                <span class="cat">{{gif.cat}}</span>
                            </figcaption>
                        </figure>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>

{%endraw%}
