:local(.container) {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    padding: 15px;
    background: #FFF;
    box-shadow: 0 1px 5px rgba(0,0,0,.2);
    opacity: 0;
    transition: all 300ms ease-in-out;
}

:local(.container.active) {
    opacity: 1;
}