.button,
button
    display inline-block
    padding 12px 15px
    background $c-main
    color rgba(white, .9)
    border none
    text-align center
    font-weight normal
    position relative
    overflow hidden
    cursor pointer
    transition all $easing

    &-overlay
        background green
        absolute top left
        padding @padding
        size(100%)
        animation buttonOverlay $easing--fast

    &:hover { color: white; background: $c-main--d; }
    &:focus { outline: none; }

    &.alt
        background $c-sec
        &:hover { background: darken($c-sec, 10%); }

.button-bar
    display flex
    > *
        flex 1
        &:first-child
            text-align left
        &:last-child
            text-align right


@keyframes buttonOverlay
    0%   { opacity: 0; transform: scale(1.4); }
    100% { opacity: 1; transform: none; }
