button($color)
    if lightness($color) > 70%
        $text-color = black
    else
        $text-color = white
    background: $color
    color: rgba($text-color, .9)
    box-shadow: 0px 1px 4px rgba(black, .05),
                0px 3px 22px 1px rgba(lighten($color, 40%), .5);


.button,
button
    display inline-block
    padding 12px 15px
    border none
    text-align center
    font-weight normal
    position relative
    overflow hidden
    cursor pointer
    transition all $easing
    button($c-main)
    &:hover
        button(darken($c-main, 20%))

    &-overlay
        background green
        absolute top left
        padding @padding
        size(100%)
        animation buttonOverlay $easing--fast

    &:focus { outline: none; }

    &.alt
        button($c-sec)
        &:hover
            button(darken($c-sec, 20%))

.button-bar
    display flex
    > *
        flex 1
        &:first-child
            text-align left
        &:last-child
            text-align right


@keyframes buttonOverlay
    0%   { opacity: 0; transform: scale(1.4); }
    100% { opacity: 1; transform: none; }
