.button-list
    margin 0
    padding-left 0
    li
        button($c-accent)
        cursor pointer
        display inline-block
        margin-right 4px
        padding 3px 10px 4px
        &:hover
            button($c-main)
