@import 'nib'
@import 'rupture'

/* settings & css inserts
==================================== */
rupture.scale 		=  480px    767px    992px
rupture.scale-names = 'mobile' 'tablet' 'desktop'
normalize-css()

/* imports
==================================== */
@import 'helpers/*'
@import 'foundation/*'
@import 'elements/*'
@import 'regions/*'
