.gif-preview
    size( 100% )
    fixed top left
    z-index 10
    display flex
    align-items center
    justify-content center
    animation previewIn $easing
    background black
    color $c-text
    padding $gutter
    overflow hidden


    &:hover
        color @color

    &__container
        text-align center


    &__box
        position relative
        z-index 10
        display inline-block
        background $c-accent--l
        border-radius 2px
        overflow hidden
        border 1px solid white
        padding-bottom $gutter
        box-shadow 0 1px 12px 2px rgba(black, .1)


    &__close
        size(30px)
        absolute top $gutter right $gutter
        color $c-accent
        line-height 27px
        background rgba(black, .5)
        box-shadow 0 0 3px 1px black
        border-radius 50%
        vertical-align center
        text-align center

    &__overlay
        size(100%)
        absolute top left
        z-index 2

    &__background
        size(10%)
        absolute top 50% left 50%
        z-index 1
        margin-left -5%
        margin-top -5%
        background-size cover
        background-repeat no-repeat
        background-position 50% 50%
        transform scale(12)
        filter blur(2px) grayscale(0.5) brightness(0.3)


    figure      { position: relative; margin: 0; display: block; padding: $gutter; }
    img         { display: block; }
    h3          { background: white; margin: 0; padding: $gutter; border-bottom: $c-accent 1px solid; }
    p           { margin: 0; }
    input       { border: 0; max-width: none; background: transparent; font-size: .8em; text-align: center; }
    input:focus { box-shadow: none; }
