/* ====================================
    Site typography.
==================================== */

/*
    Headings
    added .alpha, .beta, .gamma, .delta, .epsilon and .zeta for OOCSS reasons.
    ------------------------------------ */

h1, h2, h3, h4, h5, h6
    font-weight 700
    margin-top 0
    margin-bottom 0.4em

h1, .alpha
    font-size 3em

h2, .beta
    font-size 1.8em

h3, .gamma
    font-size 1.5em

h4, .delta
    font-size 1.2em

h5, .epsilon
    font-size 1.1em

h6, .zeta
    font-size 1.05em

/*
    Paragraphs, links and combined
    ------------------------------------ */

p
    margin-bottom $spacing-large
    line-height 1.5em

a
    color $c-link
    font-weight 700
    text-decoration none
    &:hover
        color $c-link--hover



/*
    Separate elements
    ------------------------------------ */

hr
    border none
    border-bottom 1px solid $grey
    width 100%


.byline
    display flex
    justify-content center
    align-items center
    height 150px
    *
        margin 0
        padding 0
        margin-right $gutter
        line-height 1

    &:before,
    &:after
        content ""
        display block
        height 0
        box-flex 1
        border-bottom 1px dotted currentcolor
        padding-top 1px
        flex-grow 1
    &:before
        margin-right $gutter
