/* ====================================
    Variables
==================================== */

/*
    colors
------------------------------------ */

// Generic
aqua    = #7FDBFF
blue    = #0074D9
navy    = #001F3F
teal    = #39CCCC
green   = #2ECC40
olive   = #3D9970
lime    = #01FF70
yellow  = #FFDC00
orange  = #FF851B
red     = #FF4136
fuchsia = #F012BE
purple  = #B10DC9
maroon  = #85144B
white   = #ffffff
silver  = #dddddd
gray    = #aaaaaa
black   = #111111


// Brand
$c-main                     = #1C51FF
$c-main                     = olive
$c-main--l                  = lighten($c-main, 5%)
$c-main--d                  = darken($c-main, 10%)
$c-sec                      = #333333

$c-accent                   = #E9F3F5
$c-accent--l                = #FFFFFF
$c-accent--d                = #A3A8AB

// Text
$c-text                     = rgba(black, .8)
$c-link                     = $c-sec
$c-link--hover              = lighten(saturate($c-link, 30%),10%)
$c-link-alt                 = white
$c-link-alt--hover          = lighten(saturate($c-main, 20%),65%)

// Layout
$c-background               = $c-accent--l
$c-background--sec          = lighten(saturate($c-background,5%),15%)


// Base
$font-family	= 'Source Sans Pro', 'sans-serif'
$font-size      = 16px

$site-width		= 960px
$gutter			= 15px

// Spacings
$spacing-small   = 8px
$spacing-medium  = 16px
$spacing-large   = 24px

// Animations
$easing--fast    = 150ms ease-in-out
$easing			 = 300ms ease-in-out
$easing--slow    = 600ms ease-in-out
