/* ====================================
	List styling (ul, ol, dl)
==================================== */

ul,
ol {
    @include margin( 0 0 $spacing-medium 0 );
    padding: 0;

    li {
        margin-left: $spacing-medium;
    }
}

.list-buttons {
    margin: 0;
    padding: $gutter;
    text-align: center;
    max-width: $site-width;
    margin: 0 auto;

    li {
        @include margin( null .2em .2em 0 );
        display: inline-block;
        padding: 2px 5px;
        background: $c-link;
        color: $white;
        font-size: .9em;
        cursor: pointer;

        &:hover {
            background: $c-link--hover;
        }
    }
}
