/* ====================================
    List styling (ul, ol, dl)
==================================== */

ul,
ol {
    @include margin( 0 0 $spacing-medium 0 );
    padding: 0;

    li {
        margin-left: $spacing-medium;
    }
}

.list-buttons {
    margin: 0;
    padding: $gutter;
    text-align: center;
    max-width: $site-width;
    margin: 0 auto;

    li {
        margin: 2px;
        display: inline-block;
        padding: 8px 12px;
        line-height: 1;
        background: $c-link;
        color: $white;
        font-size: .9em;
        cursor: pointer;

        &:hover {
            background: $c-link--hover;
        }
    }
}
