.spinner {
    @include position( absolute, 50% null null 50% );
    @include size(60px);
    transform: translate3d(-50%,-50%,0);
    z-index: 2;
    display: none;

    &:after,
    &:before {
        @include size(100%);
        @include border-color( $white $white null );
        position: absolute;
        top: 0;
        margin: 0 auto;
        content: '';
        display: block;
        border: 5px solid transparent;
        border-radius: 50%;
        animation: spinner 800ms infinite linear;
    }
    &:before {
        @include margin(18%);
        @include size(64%);
        @include border-color( $white transparent );
        animation-direction: reverse;
        animation-duration: 1000ms;
    }
}
