/* ====================================
    Variables
==================================== */

// Base
$font-family				: 'Source Sans Pro', $helvetica;
$font-size					: 16px;

$site-width					: 960px;
$gutter						: 15px;

// Spacings
$spacing-small              : .4em;
$spacing-medium             : 1.4em;
$spacing-large              : 2.4em;

// Animations
$easing--fast               : 150ms ease-in-out;
$easing						: 300ms ease-in-out;
$easing--slow               : 600ms ease-in-out;




// Media breakpoints
$bp-huge					: 1140px;
$bp-large					: 960px;
$bp-medium					: 780px;
$bp-small					: 480px;
