.gif-preview
    a.gif-preview__overlay(ui-sref="/")
    a.gif-preview__close(ui-sref="/") X
    .gif-preview__background(style="background-image: url({{image}});")
    .gif-preview__container
        .gif-preview__box
            h3
                span(ng-repeat="name in name" ng-bind="name + ' '")
            figure
                img(src="{{image}}", alt="{{name}}")
            //- p
            //-     strong Ctrl + C to copy
            input#input(type="text" value="{{url}}")
