.gif-page
    a.gif-page__overlay(ui-sref="/")
        .gif-page__close(ui-sref="/") x
        .gif-page__background(style="background-image: url({{image}});")
    
    .gif-page__container
        .gif-page__box
            h3
                span(ng-repeat="name in name" ng-bind="name + ' '")
            figure
                img(src="{{image}}", alt="{{name}}")
                
            input#input(type="text" value="{{url}}")
