.gif-page
    a.gif-page__overlay(ui-sref="/")
        .gif-page__close
        .gif-page__background
    
    div.gif-page__container
        .gif-page__box
            //- h3
            //-     span(ng-bind="category")
            .gif-page__box-inner
                figure
                    img(src="{{image}}", alt="{{name}}")
                    
                ul.button-list
                    li
                        strong(ng-click="filterSearch(category)", ng-bind="category")
                    li(ng-repeat="name in names track by $index", ng-click="filterSearch(name)", ng-bind="name")
                
            .button-bar
                a.button.alt(ui-sref="/") Close
                button#CopyBtn.button Copy link
            
            .gif-page__input.hidden
                input#input(type="text" value="{{url}}")
