.gif-page
    a.gif-page__overlay(ui-sref="/")
        .gif-page__close(ui-sref="/")
        .gif-page__background
    
    .gif-page__container
        .gif-page__box
            h3
                span(ng-repeat="name in name" ng-bind="name + ' '")
            figure
                img(src="{{image}}", alt="{{name}}")
                
            .button-bar
                a.button.alt(ui-sref="/") Close
                button#CopyBtn.button Copy link
            
            .gif-page__input.hidden
                input#input(type="text" value="{{url}}")
