
<div class="gif-page"><a ui-sref="/" class="gif-page__overlay">
    <div ui-sref="/" class="gif-page__close">x</div>
    <div style="background-image: url({{image}});" class="gif-page__background"></div></a>
  <div class="gif-page__container">
    <div class="gif-page__box">
      <h3><span ng-repeat="name in name" ng-bind="name + ' '"></span></h3>
      <figure><img src="{{image}}" alt="{{name}}"/></figure>
      <div class="button-bar"><a ui-sref="/" class="button alt">Close</a>
        <button id="CopyBtn" class="button">Copy link</button>
      </div>
      <div class="gif-page__input hidden">
        <input id="input" type="text" value="{{url}}"/>
      </div>
    </div>
  </div>
</div>