
<div class="gif-preview"><a ui-sref="/" class="gif-preview__overlay">
    <div ui-sref="/" class="gif-preview__close">x</div></a>
  <div style="background-image: url({{image}});" class="gif-preview__background"></div>
  <div class="gif-preview__container">
    <div class="gif-preview__box">
      <h3><span ng-repeat="name in name" ng-bind="name + ' '"></span></h3>
      <figure><img src="{{image}}" alt="{{name}}"/></figure>
      <input id="input" type="text" value="{{url}}"/>
    </div>
  </div>
</div>